<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>NgAramApp</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>
  <h1>INDEX</h1>
  <app-root></app-root>
<script src="runtime.f894c06f2b110e64.js" type="module"></script><script src="polyfills.7de216a7b6847f47.js" type="module"></script><script src="main.c568c199e89ccd95.js" type="module"></script>

</body></html>